<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>World Cities</h1>
            <p>World Cities is a web application that allows you to search for cities around the world.</p>
            <p>It uses the <a href="https://www.geonames.org/" target="_blank">GeoNames</a> web service to retrieve the data.</p>
            <p>It is built using Angular and Bootstrap.</p>
            <img src="../../assets/img/earth.jpeg" alt="World Cities" />
        </div>
    </div>
</div>

